@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&family=Dancing+Script&family=Silkscreen&display=swap');
body {
    margin: 0px;
    padding: 0px 15rem 0px 15rem;
    background-color: #F4F8FB;
    font-family: 'Silkscreen', cursive;
}

p {
    color: #DF83FF;
}

.navbar {
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 0rem 3rem 0rem 3rem;
}

.words {
    width: 48rem;
    height: 30rem;
    border: none;
    overflow-y: auto;
    scroll-behavior: auto;
    position: sticky;
}

.caderno {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.caderno-container {
    padding: 1rem;
    height: 30rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 3px 2px rgb(58, 58, 58);
}

.botoes-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-top: 30px;
}

.botoes {
    width: 6rem;
    height: 6rem;
    border: 1px solid #D2EBFF;
    border-radius: 100px;
    background-color: #D2EBFF;
    color: #29415B;
    border: 2px solid hsla(268, 43%, 51%, 0.3);
    cursor: pointer;
}

.botoes-menores {
    width: 4rem;
    height: 4rem;
    border: 1px solid #D2EBFF;
    border-radius: 100px;
    background-color: #D2EBFF;
    color: #29415B;
    border: 2px solid hsla(268, 43%, 51%, 0.3);
    cursor: pointer;
}


/* 02070D
29415B
D2EBFF
DBE0E6
F4F8FB
FFFFFF */

::-webkit-scrollbar {
    display: none;
}

.btnDarkTheme {
    border: none;
    border-radius: 100px;
    background-color: #DBE0E6;
}

img {
    width: 30px;
    height: 30px;
}